* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(109, 114, 114);
}

.content-container {
  width: 1300px;
  height: 600px;
  border: solid 4px rgba(134, 37, 53, 0.755);
  border-radius: 4px;
}

.header {
  height: 15%;
}

.game-board {
  border: solid 1px red;
  height: 85%;
  display: flex;
  position: relative;
}

.matrix-set,
.matrix-unset {
  width: 50%;
  height: 100%;
  border-right: solid 1px red;
  background-color: aquamarine;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.matrix-set {
  padding-left: 10px;
  padding-top: 5px;
}

.matrix-unset {
  background-color: cadetblue;
  width: 50%;
}

.matrix-set span {
  border: solid 1px red;
  width: 120px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  align-content: center;
  position: relative;
  transition: all 0.5 ease-in;
}

span:hover {
  cursor: pointer;
}

.matrix-set span:first-child {
  border-color: green;
  bottom: 0;
  left: 20;
}
