* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(109, 114, 114);
}

.content-container {
  width: 1300px;
  height: 670px;
  border: solid 4px rgba(134, 37, 53, 0.755);
  border-radius: 4px;
}

.header {
  height: 15%;
}

.game-board {
  border: solid 1px red;
  height: 85%;
  display: flex;
  position: relative;
}

.matrix-set,
.matrix-unset {
  width: 50%;
  height: 100%;
  border-right: solid 1px red;
  background-color: aquamarine;
  padding: 10px;
}

.matrix-unset {
  background-color: cadetblue;
  width: 50%;
}

.ball {
  border: solid 1px red;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  align-content: center;
  position: absolute;
  transition: all 1s ease-in;
  visibility: hidden;
}

.ball:hover {
  cursor: pointer;
}
/* left + 130px
top + 110px */

/* .matrix-set .ball:nth-child(2) {
  left: 150px; 
  top: 10px;
}

.matrix-set .ball:nth-child(3) {
  left: 280px;
  top: 10px;
}

.matrix-set .ball:nth-child(4) {
  left: 410px;
  top: 10px;
}

.matrix-set .ball:nth-child(5) {
  left: 540px;
  top: 10px;
}

.matrix-set .ball:nth-child(6) {
  left: 10px;
  top: 120px;
}

.matrix-set .ball:nth-child(7) {
  left: 10px;
  top: 230px;
}

.matrix-set .ball:nth-child(8) {
  left: 10px;
  top: 340px;
}

.matrix-set .ball:nth-child(9) {
  left: 10px;
  top: 450px;
} */
