* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 25px;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(109, 114, 114);
}

.content-container {
  width: 1300px;
  height: 670px;
  border: solid 10px rgba(134, 37, 53, 0.755);
  border-radius: 4px;
}

.header {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

.buttons {
  position: absolute;
  left: 50px;
}

button {
  color: beige;
  font-size: 20px;
  background-color: rgb(31, 33, 45);
  border: none;
  border-radius: 4px;
  padding: 20px 40px;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

button:hover {
  cursor: pointer;
}

.game-board {
  border: solid 1px rgb(151, 148, 55);
  height: 85%;
  display: flex;
  position: relative;
}

.matrix-set,
.matrix-unset {
  width: 50%;
  height: 100%;
  /* border-right: solid 1px red; */
  background-color: aquamarine;
  padding: 10px;
}

.matrix-unset {
  background-color: cadetblue;
  border: none;
  width: 50%;
}

.ball {
  border: solid 4px rgb(18, 10, 10);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  align-content: center;
  position: absolute;
  transition: all 1s ease-in;
  visibility: hidden;
}

.set {
  animation-name: kuku;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(1, 0.07, 0, 1.03);
}

.ballShake:active {
  animation-name: shake !important;
  animation-duration: 0.1s;
  animation-iteration-count: 3;
}

.ball:hover {
  cursor: pointer;
}

.alert-message,
.clock {
  font-size: 40px;
}

.green {
  color: rgb(12, 97, 12);
}

@keyframes kuku {
  0% {
    left: 0px;
  }
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }

  40% {
    transform: translateX(7px);
  }

  100% {
    transform: translateX(-7px);
  }
}
